<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <title>New Products</title>
</head>
<body>
    <h1>New Products</h1>
    <form action="/products" method="post">
     <label for="name">Name</label>
     <br>
     <input type="text" name="product[name]" id="name">
    <br>
    <br>
    <label for="img">Image Url</label>
    <br>
    <input type="text"  name="product[img]" id ="img">
    <br>
    <br>
    <label for="price">Price</label>
    <br>
    <input type="number" name="product[price]" id ="price">
    <br>
    <br>
    <label for="desc">Discription</label>
    <br>
    <textarea name="product[desc]" id="desc" cols="30" rows="5"></textarea>
     <br>
     <br>
     <button>Create</button>
     

    </form>

</body>
</html>